
:root{
  --primaryColor: rgb(255,255,255);
  --secondaryColor1: rgb(254,230,0);
  --secondaryColor2: rgb(0,255,163);
}
.secondaryColor1{
  color: var(--secondaryColor1);
}
.secondaryColor2{
  color: var(--secondaryColor2);
}
.bgSecondary1{
  background-color: var(--secondaryColor1);
}
.bgSecondary2{
  background-color: var(--secondaryColor2);
}
.size{
  width: 90%;
  margin: auto;
}
.nav-section{
  background-color: rgb(3,11,33);
}
nav{
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 0;
}
.nav-menu{
  display: flex !important;
  justify-content: space-between;
}
nav li a{
  color: var(--primaryColor) !important;
}
.nav-btn{
  /* padding: 0px  10px 0; */
  display: block !important;
}

.nav-buttons{
  display: flex !important;
  justify-content: space-between !important;
}
/* .nav button:nth-child(1){
  background-color: var(--secondaryColor1);
}
.nav button:nth-child(2){
  background-color: var(--secondaryColor2);
} */
.header{
  /* background-image: url(""); */
  background-color: blue; 
  /* background-image: url(&#39;/assets/images/banner/bg.png&#39;); */
  color: var(--primaryColor);
}

